EXPO_PUBLIC_API_URL=https://pillapp-backend.onrender.com

# Opzionali (se usi Supabase)
# EXPO_PUBLIC_SUPABASE_URL=
# EXPO_PUBLIC_SUPABASE_ANON_KEY=
# EXPO_PUBLIC_SUPABASE_TABLE=farmaci
# EXPO_PUBLIC_SUPABASE_AIC_COLUMN=codice_aic
